.navigation ul li a{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: rgb(206, 243, 201);
    margin: 3em;
}

article.featured-content{
    background-color: red;
}

div.featured-content{
    background-color: white;
}

